body {
background: rgba(255,184,140,1);
background: -moz-linear-gradient(45deg, rgba(255,184,140,1) 0%, rgba(222,98,98,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(255,184,140,1)), color-stop(100%, rgba(222,98,98,1)));
background: -webkit-linear-gradient(45deg, rgba(255,184,140,1) 0%, rgba(222,98,98,1) 100%);
background: -o-linear-gradient(45deg, rgba(255,184,140,1) 0%, rgba(222,98,98,1) 100%);
background: -ms-linear-gradient(45deg, rgba(255,184,140,1) 0%, rgba(222,98,98,1) 100%);
background: linear-gradient(45deg, rgba(255,184,140,1) 0%, rgba(222,98,98,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb88c', endColorstr='#de6262', GradientType=1 );
  background-attachment: fixed;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}
.container {
  margin: 80px auto;
}
#instructions-wrapper {
  margin: 50px;
}
#instructions h1 {
  font-size: 40px;
  text-align: center;
}
.instructions-text {
  font-size: 23px;
  text-align: justify;
  margin: 50px 0 0 60px;
}
.options{
  font-size: 21px;
  margin-left: 90px;
}
#startButton {
  height: 60px;
  margin-bottom: 40px;
  padding: 10px;
  border-radius: 15px;
  float: right;
  width: 14%;
  font-weight: 300;
}
#instructionsButton {
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
  position: absolute;
  top: 30px;
  left: 30px;
}
#list-wrapper, #instructions {
  position: absolute;
  border-radius: 18px;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  margin: 0 10%;
  width: 80%;
  height: 800px;
  margin-bottom: 150px;
  overflow: hidden;
}
#list-wrapper {
  display: none;
}
#noTasksShown {
  display: none;
  color: rgba(0, 0, 0, 0.4);
  font-size: 60px;
  text-align: center;
  margin: 160px;
}
.top {
  width: 100%;
  height: 50px;
}
button {
  font-family: 'Lato', sans-serif;
  background-color: rgba(255, 255, 255, 0.6);
  box-sizing: border-box;
  border-radius: 0;
  border: none;
  color: #000;
  font-size: 20px;
  height: 60px;
  width: 10%;
}
button:focus {
  outline: none;
}
#toggleAll {
  float: left;
  border-right: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 15px 0 0 0;
}
#addButton {
  border-radius: 0 15px 0 0;
  border-left: 2px solid rgba(0, 0, 0, 0.3);
  float: right;
  font-size: 40px;
}
input {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  box-sizing: border-box;
  height: 60px;
  border-radius: 0;
  border: none;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px;
  width: 80%;

}
input:focus, input:enabled {
  outline: none;
  padding: 0 20%;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000;
  text-align: center;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #000;
  text-align: center;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #000;
  text-align: center;
}
:-moz-placeholder { /* Firefox 18- */
  color: #000;
  text-align: center;
}
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* Firefox 18- */
input:focus::-moz-placeholder { color:transparent; } /* Firefox 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* oldIE ;) */

ul {
  width: 100%;
  position: relative;
  right: 40px;
  top: -5px;
}
li {
  list-style-type: none;
  box-sizing: border-box;
  height: 60px;
  border-radius: 0;
  border-bottom: 1px dashed #AEAEAE;
  padding: 10px;
  font-weight: 400;
}
li:focus {
  outline: none;
}
.task {
  display: inline;
  padding-left: 60px;
  font-size: 30px;
}
.deleteButton, .toggleButton {
  position: relative;
  top: -11px;
  border-top: none;
  border-bottom: none;
  border-right: none;
  height: 60px;
  background-color: rgba(0, 0, 0, 0);
  font-weight: 700;
  font-size: 30px;
  width: 9.4%;
}
.deleteButton{  
  float: right;
  border-left: 2px solid rgba(0, 0, 0, 0.3);
}
.toggleButton {
  float: left;
  font-family: 'Lato', sans-serif;
  border-left: none;
  border-right: 2px solid rgba(0, 0, 0, 0.3);
  padding: 0 2.5%;
}
.toggleButton:focus {
  outline: none;
}
#filter-buttons {
  position: absolute;
  bottom: 60px;
  width: 100%;
}
.filterButton {
  font-weight: 700;
  width: 25%;
  float: left;
  border-top: 2px solid rgba(0, 0, 0, 0.2);
  border-right: 2px solid rgba(0, 0, 0, 0.2);
  border-bottom: none;
}
.filterButton:last-child {
  border-right: none;
}
#showAll {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  font-weight: 700;
}

